.background{
	background-image: url(https://www.ppt-backgrounds.net/thumbs/animated-christmas-frame-keynote.jpg);
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
} 
.santa{
	width: 100px;
	height: 100px;
	position: relative;
	animation: mymove 10s infinite;	
}


}